# To ensure app dependencies are ported from your
# virtual environment/host machine into your container,
# run 'pip freeze > requirements.txt' in the terminal to overwrite this file.

black
dj_static
django==3.1.9
django-crispy-forms
django-environ==0.4.5
django-livereload-server
django-storages[google]==1.9.1
firebase_admin==4.3.0
google-auth==1.20.1
google-cloud-secret-manager==1.0.0
gunicorn==20.0.4
# livereload==2.6.3
Markdown==3.2.2
markdown-markup-emoji==0.2.2 # FIXME: Not working
pymdownx
pygments
# sphinx-markdown-parser
# pymdown-extensions
# recommonmark
# sphinx-markdown-tables
# sphinx-intl
python-decouple==3.3
psycopg2-binary==2.8.5
python-markdown-math
