<!-- About Page -->
{% extends "personal_website/index.html" %}

{% load static %}

{% block material %}
  <div class="about">
    <main role="main" class="container py-3 my-3 ">
      <div class="d-flex mt-auto justify-content-center flex-wrap-reverse">
      <div class="col-md-8 pb-5 mb-5 markdown">

        {{ markdown | safe }}

      </div>
      <div class="col no-grow mb-5 rounded">
        <img
          src="{% static 'personal_website/images/profile/profile.jpg' %}"
          width="155"
          height="175"
          style="border-radius:50%"
        >
      </div>
      </div>
    </main>
  </div>
{% endblock %}
