<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Site Details -->
    <meta name="theme-color" content="#281e52"/>
    <meta name="description" content="A personal website to share projects, ideas, and writing.">
    <meta name="author" content="Keegan Skeate">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    {% load static %}

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/logos/favicon.ico' %}">
    
    <!-- Icons and Manifest TODO: -->
    <link rel="icon" type="image/png" href="{% static 'images/logos/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'images/logos/favicon-16x16.png' %}" sizes="16x16">
    {% comment %} <link rel="manifest" href="{% static 'manifest.webmanifest' %}"> {% endcomment %}
    <link rel="apple-touch-icon" href="{% static '/images/logos/apple-touch-icon.png' %}" sizes="180x180">
    {% comment %} <link rel="mask-icon" href="{% static '/images/logos/safari-pinned-tab.svg' %}" color="#e48632"> {% endcomment %}
    <link rel="shortcut icon" href="{% static '/images/logos/favicon.ico' %}" type="image/x-icon">

    <!-- PRODUCTION: Serve Bootstrap Stylesheet from a CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- DEV: Serve Bootstrap Stylesheet locally -->
    {% comment %} <link href="{% static 'etch_mobility/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css"> {% endcomment %}

    <!-- Main Stylesheets -->
    <link href="{% static 'personal_website/css/main.css'%}?{% now "U" %}" rel="stylesheet" type="text/css">

    <!-- Page-specific Stylesheets -->
    {% block custom_css %}{% endblock %}

    <!-- PRODUCTION: Firebase Analytics -->
    {% comment %} <script src="/__/firebase/7.24.0/firebase-app.js"></script> {% endcomment %}
    {% comment %} <script src="/__/firebase/7.24.0/firebase-analytics.js"></script> {% endcomment %}
    {% comment %} <script src="/__/firebase/init.js"></script> {% endcomment %}

    <!-- PRODUCTION: Serve jQuery from a CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- DEV: Serve jQuery locally -->
    {% comment %} <script src="{% static 'etch_mobility/js/jquery.slim.min.js'%}"></script> {% endcomment %}

  </head>
  <body class="base">

    <!-- Page -->
    <div id="page">
      {% block page %}{% endblock %}
    </div>

    <!-- PRODUCTION: Serve Bootstrap JavaScript from a CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- DEV: Serve Bootstrap JavaScript locally -->
    {% comment %} <script src="{% static 'etch_mobility/js/bootstrap.min.js'%}"></script> {% endcomment %}

    <!-- Page-specific JavaScript -->
    {% block custom_js %}{% endblock %}

  </body>
</html>
