<!-- Contact Page -->
{% extends "personal_website/index.html" %}

<!-- Title -->
{% block title %}Contact | {{ state.author }}{% endblock %}

{% load static crispy_forms_tags %}

<!-- Page CSS -->
{% block custom_css %}
  <link href="{% static 'personal_website/css/forms.css' %}?{% now "U" %}" rel="stylesheet" type="text/css">
{% endblock %}

<!-- TODO: Implement CAPTCHA
https://pypi.org/project/django-simple-math-captcha/
-->

<!-- Contact Form -->
{% block material %}
  <div class="contact container my-4 my-lg-5 px-5">
    <div class="row featurette my-5">

      <!-- Image -->
      <div class="col-md-5 order-md-1 order-lg-1 mb-5">
        <img
          src="{% static 'personal_website/images/illustrations/brilliant_ideas_mail.svg' %}"
          width="100%"
        >
      </div>

      <!-- Text -->
      <div class="col-md-7 order-md-2 order-lg-2 pr-lg-5">
        <h2 class="featurette-heading mt-0">
          Contact me.
          <span class="text-muted">
            You're welcome to contact me anytime about anything.
          </span>
        </h2>
        <p class="lead mb-3">
          Please enter your contact information and message
          and I will get back to you as soon as possible.
        </p>

        <!-- Fields -->
        {% crispy form %}

      </div>
    </div>
  </div>

{% endblock %}
