<!-- About Page -->
{% extends "personal_website/base.html" %}

{% load static %}

{% block page %}

  <!-- Header -->
  {% include "personal_website/layout/header.html" %}

  <!-- Core Material -->
  <div id="material">
    {% block material %}{% endblock %}
  </div>

  <!-- Footer -->
  {% include "personal_website/layout/footer.html" %}

  <!-- General JavaScript -->
  <script>
    (function scrollToHash () {
      var hash = window.location.hash.substring(1);
      var element = document.getElementById(hash);
      if (element) {
        element.scrollIntoView();
      }
    })();
  </script>

{% endblock %}
