{% extends "personal_website/index.html" %}

<!-- Title -->
{% block title %}Posts | {{ state.author }}{% endblock %}

{% load static mathjax %}

<!-- Page styles -->
{% block page_css %}
  <link href="{% static 'personal_website/css/blog.css'%}?{% now "U" %}" rel="stylesheet" type="text/css">
  {% comment %} <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
  <script type="text/javascript" async  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script> {% endcomment %}
	{% comment %} <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js"></script> {% endcomment %}
  {% comment %} <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script> {% endcomment %}
  {% comment %} <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js"></script> {% endcomment %}
  {% comment %} <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script> {% endcomment %}
  {% mathjax_scripts %}
{% endblock %}

<!-- Posts Template -->
{% block material %}
  <main role="main" class="container">

  <div>
  When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
</div>

    <!-- Post Body -->
    <div class="d-flex mt-auto justify-content-center flex-wrap-reverse">
      <div class="col-md-8 py-5 markdown">
        {{ markdown | safe }}
      </div>
    </div>

    <!-- Posts Archive-->
    <div id="post-archive" class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-2 mb-4 font-italic border-bottom">
          Writing
        </h3>

        <!-- Posts -->
        {% for post in posts.posts %}
          <div class="blog-post">
            <a href="{{ post.url }}">
              <h2 class="blog-post-title">
                {{ post.title }}
              </h2>
            </a>
            <p class="blog-post-meta">
              {{ post.written_at }}
            </p>
            <p>
              {{ post.description }}
            </p>
            <p class="lead mb-0 mt-3">
              <small><a
                href="{{ post.url }}"
                class="font-weight-bold"
              >
                Read →
              </a></small>
            </p>
          </div>
        {% endfor %}

        <!-- Pagination -->
        <nav class="blog-pagination">
          <a
            class="btn btn-outline-secondary disabled"
            href="#"
          >
            Older
          </a>
          <a
            class="btn btn-outline-secondary disabled mx-2"
            href="#"
            tabindex="-1"
            aria-disabled="true"
          >
            Newer
          </a>
        </nav>

      </div><!-- /.blog-main -->

      <!-- Sidebar -->
      {% comment %} <aside class="col-md-4 blog-sidebar">
        <div class="p-4 mb-3 bg-light rounded">
          <p class="mb-0">
            {{ state.notice }}
          </p>
        </div>
        <div class="p-4">
          <h4 class="font-italic">Posts</h4>
          <ol class="list-unstyled mb-0">
            {% for item in homepage.post_index %}
              <li>
                <a href="{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ol>
        </div>
      </aside><!-- /.blog-sidebar --> {% endcomment %}

    </div><!-- End of Archive -->
    
  <!-- Post JavaScript --><!-- TODO: Turn into custom_js block -->
  <script>
    (function toggleArchive () {
      var archive = document.getElementById("post-archive");
      if (window.location.pathname.split('/').length > 3) {
        archive.style.display = 'none';
      } else {
        archive.style.display = 'block';
      }
    })();

    {% comment %} window.MathJax = {
      options: {
        ignoreHtmlClass: 'tex2jax_ignore',
        processHtmlClass: 'tex2jax_process',
        renderActions: {
          find: [10, function (doc) {
            for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
              const display = !!node.type.match(/; *mode=display/);
              const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              const text = document.createTextNode('');
              const sibling = node.previousElementSibling;
              node.parentNode.replaceChild(text, node);
              math.start = {node: text, delim: '', n: 0};
              math.end = {node: text, delim: '', n: 0};
              doc.math.push(math);
              if (sibling && sibling.matches('.MathJax_Preview')) {
                sibling.parentNode.removeChild(sibling);
              }
            }
          }, '']
        }
      }
    }; {% endcomment %}

  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      config: ["MMLorHTML.js"],
      jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
      extensions: ["MathMenu.js", "MathZoom.js"]
    });
  </script>

  </main>
{% endblock %}
