/*--------------------------------------------------------------------------
  Personal Website Style
  Author: Keegan Skeate
  Created: 10/18/2020
---------------------------------------------------------------------------*/

/* TODO: Import only sizes used */
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:100,200,300,400,500,600,700');
@import url("https://fonts.googleapis.com/css?family=Cinzel:400");
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap'); */
/* import './assets/fonts/et-line/et-line.css'; */

/*--------------------------------------------------------------------------
  Main tags
---------------------------------------------------------------------------*/

body {
  margin: 0;
  background: #fff;
}
p {
  margin-bottom: 0;
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
}
p, ul {
  line-height: 1.5;
}
a {
  text-decoration: none;
}

/*--------------------------------------------------------------------------
  Text
---------------------------------------------------------------------------*/

* {
  font-family: 'Libre Franklin';
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Franklin', serif;
}
.sans-serif {
  font-family: 'Libre Franklin';
}
.serif {
  font-family: 'Libre Baskerville' !important
}
.display-4 {
  font-family: 'Libre Baskerville' !important
}
.bold {
  font-weight: 600 !important;
}
.underline {
  text-decoration: underline;
}

/*--------------------------------------------------------------------------
  Markdown Text
---------------------------------------------------------------------------*/

.markdown h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  /* font-weight: 700; */
}
.markdown h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  /* font-weight: 700; */
}
.markdown h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  /* font-weight: 700; */
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
}
.markdown p {
  margin-top: 1.5rem;
  line-height: 1.75;
}
.markdown p a,
.markdown li a {
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
}
.markdown strong {
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
}
.markdown ul,
.markdown ol {
  margin-top: 1.5rem;
}
.markdown li {
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  margin-bottom: .5rem;
}
body.dark .markdown a {
  /* color: #45B649; */
  color: #8be8fd;
}
body.dark .markdown a:hover {
  /* color: #96e6a1; */
  color: #8be8fd;
}

/*--------------------------------------------------------------------------
  Colors
---------------------------------------------------------------------------*/

.text-secondary-on-light {
  color: #ccc;
  color: var(--mdc-theme-text-secondary-on-dark, #ccc);
}
a.text-secondary-on-light:hover {
  color: #ccc;
  color: var(--mdc-theme-text-hint-on-dark, #ccc);
}
::-moz-selection {
  color: #1a1a1a;
  background: #96e6a1;
}
::selection {
  color: #1a1a1a;
  background: #96e6a1;
}
.light-green-fade {
  background: linear-gradient(to left top,#d4fc7933 50%,#fff 50%)
}
body.dark .light-green-fade {
  background: transparent;
}
.night-fade {
  background: #281e52;
  background: -webkit-linear-gradient(to top left, #281e52, #ffd45233);
  background: linear-gradient(to top left, #281e52, #ffd45233);
}
.grass-background {
  background: #fff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top left, #45B64980, #DCE35B80);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top left, #45B64980, #DCE35B80); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}
.gradient.grass {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.kls-light-orange {
  background: #ffa600;
}
.kls-light-orange-text {
  color: #ffa600;
}
a.kls-light-orange-text:hover {
  color: #e53a23ff !important;
}
.kls-dark-orange {
  background: #e53a23ff;
}
.kls-dark-orange-text {
  color: #e53a23ff;
}
a.kls-dark-orange-text:hover {
  color: #ffa600 !important;
}
.kls-green {
  background: #45B649;
}
.kls-green-text {
  color: #45B649;
}
.kls-green-text svg {
  fill: #45B649;
}
.kls-green-text:hover {
  color: #3f7f34ff;
}
.kls-green-text:hover svg {
  fill: #3f7f34ff;
}
.kls-dark-green {
  background: #3f7f34ff;
}
.kls-dark-green-text {
  color: #3f7f34ff;
}
.kls-darkest-green {
  background: #104607ff;
}
.kls-darkest-green-text {
  color: #104607ff;
}
.kls-light-green {
  background: #96e6a1;
}
.kls-light-green-text {
  color: #96e6a1;
}
.light-green-hover:hover,
.kls-light-green-text:hover {
  color: #96e6a1 !important;
  fill: #96e6a1 !important;
}
.kls-purple {
  color: #281e52;
  fill: #281e52;
}

/*--------------------------------------------------------------------------
  Titles
---------------------------------------------------------------------------*/

.brand {
  display: flex;
  align-items: flex-end;
}
.brand-font {
  font-family: 'Cinzel';
  letter-spacing: 0.5px;
}
.brand-title {
  font-family: 'Cinzel' !important;
  letter-spacing: 0.5px;
  font-size: 2rem;
  line-height: 1;
  font-weight: 100;
  margin: 0;
}
.brand-copyright {
  font-size: 8px;
}

/*--------------------------------------------------------------------------
  Layout
---------------------------------------------------------------------------*/

.simple-flex {
  display: flex;
  align-items: center;
}
.simple-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden-item {
  display: none !important;
}
.invisible-item {
  visibility: hidden;
}
.overflow-hidden {
  overflow-x: hidden;
  overflow-y: hidden;
}
.no-grow {
  flex-grow: unset !important;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.spacer {
  flex-grow: 1;
}
.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}
.z-index-top {
  z-index: 1000;
}
.invisible-divider {
  border-color: transparent;
}

/*--------------------------------------------------------------------------
  Text
---------------------------------------------------------------------------*/

.article-body {
  max-width: 720px !important;
}
.article-medium-body {
  max-width: 600px !important;
}
.article-narrow-body {
  max-width: 520px !important;
}
.lettrine-icon {
  float: left;
}
.no-spacing {
  letter-spacing: unset !important;
}

/*--------------------------------------------------------------------------
  Actions
---------------------------------------------------------------------------*/

.nav-link:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	/* transition: width .25s ease, background-color .25s ease; */
}
@media (min-width: 992px) {
  .nav-link:hover:after,
  .nav-link.active:after {
    width: 100%;
    background: #007bff;
  }
  body.dark .nav-link:hover:after,
  body.dark .nav-link.active:after {
    width: 100%;
    background: #8be8fd;
  }
}

.app-action {
  cursor: pointer !important;
}
.app-no-action {
  cursor: default !important;
}
.simple-action {
  text-decoration: none !important;
}
.sliding-action {
	display: inline-block;
  text-decoration: none;
  color: #ffa600;
	padding-bottom: 1px;
}
.sliding-action:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .25s ease, background-color .25s ease;
}
.sliding-action:hover:after {
	width: 100%;
	background: #ffa600;
}
.sliding-action-blue:hover:after {
	width: 100%;
	background: #ffa600;
}

/*--------------------------------------------------------------------------
  Images
---------------------------------------------------------------------------*/

.hero-image {
  background-attachment: fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}
.image-caption {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  text-decoration: unset;
}
.image-caption:hover {
  opacity: 0.7;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*--------------------------------------------------------------------------
  Icons
---------------------------------------------------------------------------*/

.main-logo {
  height: 3rem;
  transform: translateY(-8px);
}
.main-logo-large {
  height: 6rem;
}
.site-icon {
  font-size: 48px;
}
.site-icon.large {
  font-size: 65px;
}
.site-icon.small {
  font-size: 18px;
}
.sup-icon {
  transform: translateY(-9px);
}
svg.text-light {
  fill: #ccc !important;
}
.gemoji {
  height: 2rem !important;
}

/*--------------------------------------------------------------------------
  Lists
---------------------------------------------------------------------------*/

ul {
  margin-bottom: 1rem;
}
ul.arrow-icons {
  list-style: disclosure-closed;
}
ul.no-icons {
  list-style: none;
}
ul.three-by-three {
  columns: 3;
}
ul.two-by-two {
  columns: 2;
}
.simple-list {
  padding-left: 0 !important;
  list-style: none;
  line-height: 1;
}

/*--------------------------------------------------------------------------
  Tables
---------------------------------------------------------------------------*/

.no-border {
  border: none !important;
}
.double-line {
  line-height: 2 !important;
}
.no-line-height {
  line-height: unset !important;
}
.large-line {
  line-height: 1.2;
}

/*--------------------------------------------------------------------------
  Forms
---------------------------------------------------------------------------*/

/* .form-control:focus {
  border-color: #96e6a1;
  box-shadow: 0 0 0 0.2rem #96e6a140;
} */
.custom-checkbox .custom-control-label::after,
.custom-checkbox .custom-control-label::before {
  border-color: #96e6a1 !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #45B649 !important;
  border-color: #96e6a1 !important;
}
.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  /* box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25) */
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #45B64940;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  /* box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25) */
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #45B64940;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #96e6a1;
}

/*--------------------------------------------------------------------------
  Animations
---------------------------------------------------------------------------*/

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s;
}
.slide-up {
  transform: translateY(-1%);
}
.slide-fade-leave-active,
.slide-fade-enter-active {
  transition: opacity 1s;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translate(-25%, 0);
  opacity: 0;
}

/*--------------------------------------------------------------------------
  Waves
---------------------------------------------------------------------------*/

.wave {
  overflow: hidden;
}
.wave.big {
  position: absolute;
  height: 100%;
  width: 100%;
}
.wave.small {
  height: 150px;
}
.wave.upside-down svg {
  transform: scaleY(-1);
}
.wave svg {
  height: 100%;
  width: 100%;
}
.wave svg path {
  /* fill: #d4fc7933; */
  fill: #007bff0d;
  stroke: none;
}
body.dark .wave svg path {
  fill: #554b8033;
}
.wave.green svg path {
  fill: #1f622f !important;
}
.wave.blue svg path {
  fill: #007bff !important;
}
.ground {
  /* background: #d4fc7933; */
  /* background: #007bff33; */
  background: #007bff0d;
}
body.dark .ground {
  background: #554b8033;
}

/*--------------------------------------------------------------------------
  Vines
---------------------------------------------------------------------------*/
.first-vine {
  /* z-index: -1; */
  position: absolute;
  transform: rotate(20deg) translate(-50px, -100px);
}
.side-vine {
  z-index: -1;
  position: absolute;
  transform: rotate(45deg) translate(-75px, -100px);
}
.side-vine-right {
  right: 0;
  transform: rotate(-45deg) translate(0px, -0px);
}
.straight-vine {
  transform: rotate(0) translate(95%, -75%);
}
.straight-vine-right {
  transform: rotate(0) translate(-95%, -50%);
}
.vine-nudge-left {
  transform: rotate(0) translate(-400%, -50%);
}

/*--------------------------------------------------------------------------
  Dark Theme
---------------------------------------------------------------------------*/

body.dark {
  /* background: #281e52; */
  background-color: #323443;
}
body.dark p,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #ccc;
}
body.dark .nav-link,
body.dark .navbar-toggler-icon {
  color: #ccc !important;
}
body.dark .nav-link:hover,
body.dark .navbar-toggler-icon:hover,
body.dark p strong,
body.dark li a,
body.dark ol,
body.dark ul,
body.dark .text-dark,
body.dark .textarea {
  color: #ccc !important;
}
body.dark .text-white {
  color: #fff !important;
}
body.dark .personal-green-text:hover {
  /* color: #96e6a1; */
  color: #8be8fd;
}
body.dark .personal-green-text:hover svg {
  /* fill: #96e6a1; */
  fill: #8be8fd;
}
body.dark ::-moz-selection {
  color: #fff;
}
body.dark ::selection {
  color: #fff;
}
/* body.dark .card {
  background-color: #554b80;
} */
body:not(.dark) .card {
  color: #f5f5f5;
}
.bg-white-dynamic {
  background-color: #fff;
}
body.dark .bg-white-dynamic {
  background-color: #281e52;;
}
body.dark label {
  color: #f5f5f5;
}
body.dark p.lead a {
  /* color: #45B649; */
  color: #8be8fd;
}
body.dark p.lead a:hover {
  /* color: #96e6a1; */
  color: #8be8fd;
}
body.dark a {
  /* text-decoration-color: #96e6a1; */
  text-decoration-color: #8be8fd;
}
body.dark .form-control,
body.dark .custom-control-input,
body.dark .custom-control-label:before {
  /* background-color: #554b80 !important; */
  /* border-color: #090421 !important; */
  background-color: rgb(248 248 242 / 7%) !important;
  border-color: #1e2029;
}
body.dark .bg-light,
body.dark .card {
  background-color: #554b80 !important;
}
/*--------------------------------------------------------------------------
  Dark theme icons
---------------------------------------------------------------------------*/

.theme-toggle {
  float: right;
  box-shadow: none !important;
}
.light-theme-icon {
  fill: #1a1a1a;
}
.light-theme-icon:hover {
  fill: #1a1a1a;
}
.dark-theme-icon {
  fill: #ccc;
  display: none;
}
body.dark .light-theme-icon {
  fill: #281e52;
  display: none;
}
body.dark .dark-theme-icon {
  fill: #ccc;
  display: block;
}
body.dark .dark-theme-icon:hover {
  fill: #fff;
}
body.dark .navbar-light .navbar-toggler {
  background: #cccccc33;
}
body.dark .dropdown-item {
  color: #1a1a1a !important;
}
